<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>

<body class="container mb-5 mt-3" style="background: #fcfcfc">
<form role="form" action="/add" method="post">
	<input type="text" placeholder="tweet" name="text">
	<input type="text" placeholder="gary" name="author_name">
	<input type="text" placeholder="gary" name="author_handle">
	<button type="submit">Submit</button>
</form>
</body>
</html>
