<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <br></br>
    <h1 class="text-center">posts</h1>
    <br></br>
    <div class="row">
        <form action="/posts" method="POST">
            <input type="text" placeholder="tweet" name="text">
            <input type="text" placeholder="myname" name="author_name">
            <input type="text" placeholder="addname" name="author_handle">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>